@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
    background-color: rgb(254, 254, 254);
    text-align: center;
    max-width: 1571px;
    margin: auto;
}

li {
    padding-right: 52px ;
}

/*  NAVBAR  */

.navbar {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 218px;
}

.navbar_list {
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-left: 100px;
}

.logo_list {
    display: flex;
    align-items: center;

}

.logo {
    border-radius: 100%;
    background-color: #B1B1B1;
    width: 80px;
    height: 73px;
    text-align: center;
    padding-bottom: 6px;
}

#logo {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    
}

.sign_in_div {
    display: flex;
    align-items: center;
}

.sign_in_button {
    background-color:  #19259B;
    padding: 6px 34px 6px 34px;
    border: none;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

color: #FFFFFF;

}

#sign_in {
    padding-right: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  SEARCH  */

.search_div {
    text-align: center;
}

.search_input_div {
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-radius: 20px;
   background-color: #C4C4C4;
   max-width: 533px;
   max-height: 61px;
   margin-left: 520px;
   

}

#search_input {
    background-color: #C4C4C4;
    border: none;
    padding-top: 21px;
    padding-bottom: 21px;
}
/*  CONTENT  */

/*  FOOTER  */
