@import url('https://fonts.googleapis.com/css2?family=Comfortaa');
body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    background: #FFFFFF;
    border-radius: 58px;
    width: 550px;
    height: 846px;
}

.rectangle {
    padding-left:20px ;
    
    padding-top: 60px;
    padding-bottom: 100px;
}

#re {
    padding-bottom: 50px;
}

.log {
    padding-bottom:60px;

}

#log {
    border: 1px solid #000000;
    border-radius: 31px;
    padding: 10px;
    font-weight: 400;
    font-size: 32px;
    color: #ACACAC;
}

.lgin_div {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#lgin_btn {
    width: 460px;
    height: 100px;
    background: #C4C4C4;
    border: none;
    font-weight: 200;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    border-radius: 55px;
    
}

.lgin {
    padding-bottom: 120px;
}
